@charset "UTF-8";

img {
  max-width:100%;
  }

/*HEADER*/
header h1 {
  text-align:center;
  font-family: 'Work Sans', sans-serif;
  padding-top:5%;
  padding-bottom:3%;
  top:0;
  color:white;
  font-size:35px;
}

h1 span {
  font-weight:bold;
  color: white;
  font-size:75px;
   font-family: 'Work Sans', sans-serif;
  }

header {
  background-image:url(../img/logo.jpg);
  height:20%;
  width:100%:;
  font-weight:bold;
  }

/*LINKS*/

header a {
  color:white;
  text-decoration: none;
}
header a:visited {
  color:white;
  text-decoration: none;
}


/*NAV*/
nav  {
  font-family: 'Lato', sans-serif;
  font-size:12px;
  text-align:center;
  padding-bottom:1%;
  }

/*GENERAL*/
a:visited {
  text-decoration: none;
  color:#BDD9D9;
  }

 a {
  text-decoration: none;
  font-family: 'PT Mono', monospace;
  font-weight:bold;
 color:#gray;
}

a:hover {
    color:orange;
}

/*COLUMN ONE*/

#column1of2 {
  float:left;
  width:25%;
  text-align:left;
  position:absolute;
  left-0;
  border-right:1px solid gray;
  }

#column1of2 p {
  font-size:12px;
  font-family:lucida;
  padding:5%;
  }



#logo{
  margin-top:18%;}

/*COLUMN TWO*/

#column2of2 {
  width:45%;
 margin: 0 auto;
}

#column2of2 ul {
  list-style: none;
  text-align:center;
}

#column2of2 h2 {
    margin-top:10%;
    text-align:center;
    font-family:'PT Mono', monospace;
    color:black;
  }

#column2of2 span {
    font-size:12px;
  }



