@charset "UTF-8";

img {
  max-width:100%;
  }
#flex{
display:flex;
flex-direction:row;
justify-content: space-around;
align-items:stretch;
}

/*HEADER*/
header h1 {
  text-align:center;
  font-family: 'Lato', sans-serif;
  color:gray;
  font-size:35px;
  }

h1 span {
font-size:75px;
}


/*LINKS*/

header a {
  color:gray;
  text-decoration: none;
  text-align:center;
}
header a:visited {
  color:gray;
  text-decoration: none;
   text-align:center;
}


/*NAV*/
nav  {
  font-family: 'Lato', sans-serif;
  font-size:12px;
  text-align:center;
  padding-bottom:1%;
  }

/*GENERAL*/
a:visited {
  text-decoration: none;
  color:#BDD9D9;
  }

 a {
  text-decoration: none;
  font-family: 'PT Mono', monospace;
  font-weight:bold;
  color:gray;
  }

a:hover {
  color:orange;
  }



/*COLUMN TWO*/
#column2of2 {
  width:45%;
  margin: 0 auto;
  }

#column2of2 ol {
  list-style: none;
  }

#column2of2 h2 {
  margin-top:10%;
  font-family:'PT Mono', monospace;
  color:black;
  }

#column2of2 span {
  font-size:12px;
  }

/*FOOTER*/
footer li {
  display:inline;
  list-style: none
  }

footer{
  text-align: center;
  clear:both;
  padding-top: 50px;
  }




