@charset "UTF-8";

body {
  font-family: 'PT Sans Caption', sans-serif;
}

/*GENERAL BODY*/

h1{
  font-family: 'Muli', sans-serif;
  margin-bottom:7%;
  font-size:3.5em;
}

li {
  display:inline;
}

/*IMAGE AND ABOUT*/
#header {
  /*height: 100vh;*/
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:nowrap;
  align-items:center;
  align-content:spacebetween;
}
  /*vh sets to the max width of the view port*/

#personal-pic {
  padding-bottom:2%;
  padding-right:10%;
  padding-top:4%;
}

/*SECTIONS*/
#contact {
  text-align:left;
}

#contact a{
  display:inline;
  padding-top:70px;
}

footer  p {
  font-size: 8px;
  font-family:times;
  font-color:#3B4247;
  text-align:center;
}

/*IMAGES OF PROJECT WORK. TO BE ADDED*/
#gallery{
  margin:0;
  padding:0;
  list-style:none;
  text-align:center;
}

#gallery img{
  margin: 5%;
}

/*LINKS*/
a:visited {
  text-decoration:none;
   color:#7B89A9;
}

a {
  text-decoration:none;
   color:#7B89A9;
}

a:hover {
   color:#7B89A9;
}

a[href^="mailto"] {
  color:#7B89A9;
  text-decoration: none;
}

#aboutme {
  font-size:16px;
  width: 75%;
  margin-bottom: 4%;
  font-family: 'Muli', sans-serif;
}

.nav-img{
  float:left;
}

#about{
  width: 65%;
}

body{
  width: 75%;
  margin: 0 auto;
}

.social-icon{
  height: 30px;
  width: 30px;
  margin-right: 2.5%;
}