body{
  width: 75%;
  margin: 0 auto;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
}

header {
  padding-top: 4%;
}

h1{
  font-family: 'Muli', sans-serif;
  font-size:3.5em;
  margin: 0;
}

#personal-pic {
  padding-bottom:2%;
  padding-right:10%;
  padding-top:4%;
  display:inline-block;
  float:left;
}

#aboutme {
  font-size:14px;
  width: 75%;
  margin-bottom: 4%;
}

#greeting{
  font-weight: bold;

}

/*LINKS*/
a:visited {
  text-decoration:none;
   color:#7B89A9;
}

a {
  text-decoration:none;
   color:#7B89A9;
}

a:hover {
   color:orange;
   font-weight:bold;
}

a[href^="mailto"] {
  color:#7B89A9;
  text-decoration: none;
}

.social-icon{
  height: 30px;
  width: 30px;
  margin-right: 2.5%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}